h2,
h1 {
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
}

p,
a,
li button {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.btns {
  background-color: #b2dde0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 14px;
}

.btns:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.hero-container {
  background-image: url("img/Hero.jpg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.hero-container__btn {
  background-color: #b2dde0;
  font-size: large;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.hero-container__btn:hover {
  background-color: #a0c7c1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hero-container__text {
  height: 50vh;
}
footer {
  background-color: #b2dde0;
}
.footer-logo {
  opacity: 0.2;
}

.footer-logo:hover {
  opacity: unset;
  cursor: pointer;
}

.header-icon {
  max-width: 3rem;
}

.contact-container {
  width: 75vw;
}

.event-container {
  width: 75vw;
}

/* animations from left to right */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animation-container {
  width: 70vw;
}
.animation-container__marquee {
  animation: marquee 20s linear infinite;
}
.animation-container__logo {
  width: 8rem;
}
