.btns {
  background-color: white;
  border: 2px solid #ddd;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.btns:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.hero-container {
  background-image: url("img/Hero.jpg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.hero-container__btn {
  background-color: #b2dde0;
  border-radius: 8px;
  font-size: large;
  padding: 12px 24px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.hero-container__btn:hover {
  background-color: #a0c7c1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hero-container__text {
  margin: -3rem 2rem 2rem;
}

.header-icon {
  max-width: 3rem;
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

p,
a,
h1,
li {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* animations from left to right */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animation-container {
  width: 70vw;
}
.animation-container__marquee {
  animation: marquee 20s linear infinite;
}
.animation-container__sponsor {
  width: 8rem;
}

@media (max-width: 600px) {
  .hero-container__text {
    height: 60vh;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-container__text {
      height: 60vh;
    }
  }
}
